[phases.setup]
nixPkgs = ["openssl", "libuuid", "glibc"]
aptPkgs = ["libssl-dev", "openssl", "ca-certificates"]

[phases.install]
cmds = ["npm ci --omit=dev || npm ci"]

[phases.build]
cmds = [
  "npx prisma generate",
  "npm run build"
]

[variables]
NODE_ENV = "production"
PRISMA_CLI_BINARY_TARGETS = "linux-musl-openssl-3.0.x"
NPM_CONFIG_PRODUCTION = "false"

[start]
cmd = "node dist/index.js"
